.dialogue-editor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-2);
  user-select: none;
  z-index: 1;
}

#dialogue-editor-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dialogue-editor.compact-view .dialogue-node-label-container {
  display: none!important;
}
.dialogue-editor.compact-view .dialogue-node {
  padding-bottom: 10px;
}
.dialogue-editor.compact-view .fact-count {
  display: none;
}
.dialogue-editor.compact-view .dialogue-node {
  gap: 5px;
}
.dialogue-editor.compact-view .dialogue-node-widget {
  min-width: 24px;
  height: 24px;
}
.dialogue-editor.compact-view .dialogue-node-icon {
  min-width: 24px;
  height: 24px;
}
.dialogue-editor.compact-view .dialogue-node-title {
  height: 24px;
}

.dialogue-editor-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding-right: 10px;
  height: 42px;
  color: white;
  box-shadow: 0 0 10px 0 var(--dark-1-025);
  background-color: var(--dark-3);
  border-bottom: 2px solid var(--dark-2);
  z-index: 101;
}

.dialogue-name {
  color: white;
  height: min-content;
  background-color: var(--dark-4);
  padding: 5px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.459);
  pointer-events: all;
  cursor: var(--cursor-pointer)
}

.dialogue-name:hover {
  border: 2px solid var(--dark-6);
}

.navbar-files {
  overflow: auto;
  display: flex;
  gap: 4px;
  padding-top: 4px;
  margin-right: 20px;
}

.editor-label {
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px 5px 10px;
  color: white;
  z-index: 10;
}

.editor-label-icon {
  width: 32px;
}

.sidebar-folder-icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.sidebar-folder-icon:hover {
  background-color: var(--dark-2);
}

.dialogue-node {
  position: absolute;
  width: max-content;
  height: fit-content;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-width: 220px;
  max-width: 420px;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid rgba(13, 62, 224, 0);
  color: white;
  background-color: var(--dark-3);
  user-select: none;
  z-index: 2;
}

.dialogue-node.active {
  border-color: var(--color-shield)!important;
  box-shadow: 0 0 40px 10px #1e54e740;
}
.dialogue-node.active::before {
  content: "•";
  position: absolute;
  top: -48px;
  left: calc(50% - 0.75rem);
  font-weight: 600;
  font-size: 4rem;
  color: var(--color-shield);
  pointer-events: none;
}
/* 
.dialogue-node:hover .dialogue-node-header {
  display: flex;
} */

.dialogue-node.selected {
  border-color: var(--color-shield);
}

.dialogue-node.precondition {
  outline: none!important;
}

.dialogue-node.precondition::before {
  content: "";
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: unset;
  right: unset;
  width: 100%;
  height: 100%;
  background-color: var(--color-shield);
  color: white;
  filter: opacity(0.1);
  pointer-events: none;
  z-index: 100;
}
.dialogue-node.precondition::after {
  content: "Precondition";
  position: absolute;
  bottom: -45px;
  left: calc(50% - 3.8rem);
  border: 2px solid var(--color-shield);
  background-color: var(--dark-2);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-shield);
  pointer-events: none;
  z-index: 100;
}

.dialogue-node.start-node:not(.active, .selected, .end-node, .precondition) {
  outline: 2px solid rgb(98, 7, 126);
}
.dialogue-node.start-node:not(.active, .selected, .end-node, .highlighted, .precondition)::before {
  content: "Entry";
  position: absolute;
  bottom: -45px;
  left: calc(50% - 2rem);
  border: 2px solid rgb(175, 33, 218);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: rgb(175, 33, 218);
  pointer-events: none;
}
.dialogue-node.end-node:not(.active, .selected) {
  outline: 2px solid green;
}
.dialogue-node.end-node:not(.active, .selected, .start-node, .highlighted, .precondition)::before {
  content: "Exit";
  position: absolute;
  border: 2px solid green;
  border-radius: 5px;
  padding: 4px 10px;
  bottom: -45px;
  left: calc(50% - 1.8rem);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: green;
  pointer-events: none;
}
.dialogue-node.end-node.start-node:not(.active, .selected, .precondition) {
  outline: 2px solid rgb(160, 29, 19);
}
.dialogue-node.end-node.start-node:not(.active, .selected, .precondition)::before {
  content: "NOT USED";
  position: absolute;
  bottom: -45px;
  left: calc(50% - 3.2rem);
  border: 2px solid rgb(160, 29, 19);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: rgb(160, 29, 19);
  pointer-events: none;
}

.dialogue-node.highlighted:not(.selected) {
  outline: 2px dashed var(--color-shield) !important;
}
.dialogue-node.highlighted.input-node:not(.selected) {
  outline: 2px dashed rgb(175, 33, 218) !important;
}

.dialogue-node-title {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: var(--bright-3);
}

.dialogue-node-title img {
  height: 100%;
}

.dialogue-node-row {
  max-width: 500px;
  min-width: 160px;
  padding: 4px 8px;
  background-color: var(--dark-2);
  border: 2px solid transparent;  
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.dialogue-node-row:hover {
  border: 2px solid var(--dark-4);
}

.dialogue-node-row-informational {
  border: 2px solid var(--dark-4)!important;
  background-color: var(--dark-3);
}

.dialogue-node-tree-row {
  position: relative;
  border: 2px solid var(--dark-4)!important;
  padding-left: 28px;
}

.dialogue-node-tree-row::before {
  content: url("../assets/icons/iconNodeTree.png");
  position: absolute;
  left: -8px;
  top: -8px;
  transform: scale(0.15);
  width: 30px;
  height: 30px;
}

.dialogue-node-transfer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialogue-node-transfer {
  display: flex;
  gap: 5px;
}

.dialogue-node-item-container {
  display: flex;
  min-width: 50px;
  width: max-content;
  gap: 5px;
}

.dialogue-node-add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  order: 2;
}

.dialogue-node-header {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--dark-3);
  min-width: 150px;
}

.dialogue-node-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dialogue-node-responses {
  display: flex;
  flex-direction: column;
}
.dialogue-node-widget {
  display: flex;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 32px;
  border-radius: 5px;
}
.dialogue-node-widget:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dialogue-node-widget.edit {
  background-image: url(../assets/icons/iconWidgetEdit.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.drag {
  background-image: url(../assets/icons/iconWidgetDrag.png);
  cursor: all-scroll;
}
.dialogue-node-widget.remove {
  background-image: url(../assets/icons/iconWidgetRemove.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.resize {
  background-image: url(../assets/icons/iconWidgetResize.png);
  cursor: var(--cursor-pointer);
  position: absolute;
  bottom: 0;
  right: 0;
}
.dialogue-node-widget.list {
  background-image: url(../assets/icons/iconList.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.list.active {
  background-color: var(--dark-2);
}
.dialogue-node-widget.collapse {
  background-image: url(../assets/icons/iconWidgetCollapse.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.collapse.true {
  transform: rotate(180deg);
}
.dialogue-node-widget.add-response {
  background-image: url(../assets/icons/iconWidgetAdd.png);
  cursor: var(--cursor-pointer);
  position: absolute;
  bottom: -40px;
  left: 0;
}
.dialogue-node-widget.add {
  background-image: url(../assets/icons/iconWidgetAdd.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.precondition {
  background-image: url(../assets/icons/iconPrecondition.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.precondition.active {
  outline: 2px solid white;
  z-index: 1;
}
.dialogue-node-widget.precondition-logic {
  position: relative;
  top: -100%;
  background-color: var(--dark-3);
}
.dialogue-node-widget.precondition-logic:hover {
  background-color: var(--dark-2);
}
.dialogue-node-widget.precondition-logic.and {
  background-image: url(../assets/icons/iconLogicalAND.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.precondition-logic.or {
  background-image: url(../assets/icons/iconLogicalOR.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.unfinished {
  background-image: url(../assets/icons/iconAlert.png);
  background-size: 75%;
  cursor: var(--cursor-pointer);
}
.drag-widget {
  background-image: url(../assets/icons/iconWidgetDrag.png);
  cursor: all-scroll;
}
.drag-widget:hover {
  background-color: var(--dark-1);
}
.dialogue-node-socket {
  width: 14px;
  height: 14px;
  border: 2px solid var(--dark-6);
  border-radius: 100%;
  cursor: var(--cursor-pointer);
}
.dialogue-node-socket:hover {
  border-color: white;
}
.dialogue-node-socket.out {
  background-color: var(--dark-4);
}
.dialogue-node-socket.out:hover {
  background-color: #1e54e7;
}
.dialogue-node-socket.in {
  background-color: var(--dark-4);
}
.dialogue-node-socket.in:hover {
  background-color: #1e54e7;
}

.dialogue-node-socket.detached {
  position: absolute;
}

.dialogue-node-connection {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.dialogue-node-connection:hover {
  filter: brightness(1.3);
}

.arrow-open {
  background-image: url(../assets/icons/iconArrowSimple.png);
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: 10px;
  cursor: var(--cursor-pointer);
  transform: rotate(180deg);
  transition: all 0.15s ease-in-out;
}

.dialogue-node-response-wrapper {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dialogue-node-response-wrapper-header {
  position: absolute;
  top: -25px;
}

.dialogue-node-socket-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: absolute;
}

.dialogue-node-socket-wrapper.in {
  top: -7px;
}
.dialogue-node-socket-wrapper.out {
  bottom: -7px;
}

.dialogue-node-item {
  display: flex;
  width: 32px;
  height: 100%;
  border-radius: 5px;
  background-color: var(--dark-3);
  border: 2px solid var(--dark-4);
}
.dialogue-node-item:hover {
  background-color: var(--dark-4);
  border: 2px solid var(--dark-5);
}

.dialogue-node-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dialogue-node-icon, .fact-add-button {
  min-width: 32px;
  height: 32px;
  background-attachment: local;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
}
.dialogue-node-icon:hover, .fact-add-button:hover {
  background-color: var(--dark-3);
}

.dialogue-node-icon.hover-dark-02:hover {
  background-color: var(--dark-2);
}

.dialogue-add-output {
  background-image: url(../assets/icons/iconPlus.png);
}
.dialogue-remove-output {
  background-image: url(../assets/icons/iconMinus.png);
}
.dialogue-node-icon.plus {
  background-image: url(../assets/icons/iconPlus.png);
}
.dialogue-node-icon.minus {
  background-image: url(../assets/icons/iconMinus.png);
}

/* sidebar */
.sidebar {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 282px;
  max-width: 500px;
  min-width: 222px;
  height: calc(100% - 42px);
  background-color: var(--dark-3);
  z-index: 102;
}
.sidebar.left {
  left: 0;
  border-right: 2px solid var(--dark-2);
}
.sidebar.right {
  right: 0;
  border-left: 2px solid var(--dark-2);
}

#sidebar-left-files {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  margin: 5px 0;
}

#sidebar-right-character-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 10px;
}

#sidebar-right-characters-variable-heading {
  padding-left: 10px;
}

.character-variable-edit-panel {
  background-color: var(--dark-3);
}

#character-variables-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 0 10px;
  border: 2px solid var(--dark-2);
  border-radius: 5px;
  background-color: var(--dark-2);
  overflow: hidden;
}
#character-variables-container:empty {
  display: none;
}

.variable-character-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 5px;
  height: 40px;
  color: white;
  background-color: var(--dark-2);
}
.settings-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
}
.settings-icon-container:hover {
  background-color: var(--dark-3);
}
.variable-character-settings-icon {
  width: 22px;
  height: 22px;
}


.sidebar-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px 5px 5px;
  color: white;
}

#character-list-heading {
  padding-bottom: 10px;
  padding-top: 15px;
}

#add-character-variable-button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 20px);
  margin: 4px 10px 0;
  padding: 5px;
  border-radius: 5px;
  color: var(--bright-3);
}

#add-character-variable-button:hover {
  background-color: var(--dark-4);
  color: white;
}

#sidebar-left-options {
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 5px;
}

#sidebar-left-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

#sidebar-left-search-input {
  width: 100%;
  background-color: var(--dark-2);
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
  caret-color: white;
  color: white;
}

#sidebar-left-search-icon {
  position: absolute;
  top: 5px;
  right: 44px;
  background-image: url(../assets/icons/iconSearch.png);
  width: 16px;
  height: 100%;
  filter: opacity(0.5);
  pointer-events: none;
}

.sidebar-file-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 1px 5px;
  color: white;
  border-radius: 2px;
  background-color: var(--dark-4);
  font-size: 0.8rem;
}
.sidebar-file-row:hover {
  background-color: var(--dark-5);
}

.sidebar-file-row-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-file-row .dialogue-icon-file {
  height: 24px;
  width: 24px;
}

.small-arrow {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  padding: 1px;
  transform: rotate(-90deg);
}

#node-properties-close-arrow {
  transform: rotate(180deg);
}

.node-properties-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.node-properties-close-button:hover {
  background-color: var(--dark-2);
}

#sidebar-left-hide-arrow {
  margin-left: 8px;
}
#sidebar-left-hide-arrow:hover {
  background-color: var(--dark-2);
}
#sidebar-right-hide-arrow {
  transform: rotate(90deg);
  margin-left: 8px;
}

#sidebar-right-hide-arrow:hover {
  background-color: var(--dark-2);
}
.dialogue-node-file-tab {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  min-width: 150px;
  border-radius: 3px 3px 0 0;
  background-color: var(--dark-4);
}
.dialogue-node-file-tab:hover {
  background-color: var(--dark-5);
}
.dialogue-node-file-tab.active {
  background-color: var(--dark-5);
}
.dialogue-node-file-tab.unsaved {
  background-color: rgb(168, 36, 36);
}

.dialogue-node-file-close-button {
  width: 18px;
  height: 18px;
  padding: 5px;
  border-radius: 3px;
  background-image: url(../assets/icons/iconClose.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
.dialogue-node-file-close-button:hover {
  background-color: var(--dark-3);
}

.dialogue-node-file-tab-name {
  font-size: 0.8rem;
}

.dialogue-node-label-container {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;  
  border: 2px solid transparent;
  background-color: var(--dark-2);
}
.dialogue-node-label-container:hover {
  background-color: var(--dark-3);
  border-color: var(--dark-4);
}
.dialogue-node-label-container .dialogue-node-label:not(:first-of-type) {
  margin-left: -2px;
}

.dialogue-node-label {
  display: flex;
  justify-content: center;
  padding: 2px 10px;
  flex-grow: 1;
  color: var(--bright-3);
  border: 2px solid transparent;
}

.dialogue-node-label.active {
  color: white;
  border: 2px solid var(--color-shield);
}

.dialogue-editor-options {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--dark-3);
  padding: 2px 10px 5px;
  margin-bottom: 5px;
  color: white;
  z-index: 10;
}
.dialogue-editor-option {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 5px;
  color: var(--bright-3);
  border-radius: 5px;
  background-color: var(--dark-3);
}
.dialogue-editor-option:hover {
  background-color: var(--dark-4);
}
.dialogue-editor-option.active {
  color: white;
  background-color: var(--dark-4);
}
.dialogue-editor-option.active:hover {
  background-color: var(--dark-5);
}

.dialogue-editor-option .checkbox {
  order: -1;
}

#dialogue-editor-box-selection {
  position: fixed;
  border-radius: 2px;
  border: 2px solid var(--color-shield);
  background: #1e54e70f;
  z-index: 5;
}

.dialogue-node-fact-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--dark-2);
}

.dialogue-node-add-fact-button {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: var(--dark-3);
  background-image: url(../assets/icons/iconPlus.png);
}
.dialogue-node-add-fact-button:hover {
  background-color: var(--dark-2);
}

.dialogue-node-fact-row {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.dialogue-node-fact-identifier {
  padding: 5px 10px;
  border: 2px solid transparent;
  min-width: 200px;
}
.dialogue-node-fact-identifier:hover {
  border-color: var(--dark-6);
}

.dialogue-node-fact-value {
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 5px 10px;
  border: 2px solid transparent;
}
.dialogue-node-fact-value:hover {
  border-color: var(--dark-6);
}
.dialogue-node-fact-value.true {
  color: rgb(92, 176, 255);
}
.dialogue-node-fact-value.false {
  color: rgb(51, 105, 255);
}

.dialogue-node-fact-delete-button {
  width: 32px;
  height: 32px;
  background-image: url(../assets/icons/iconMinus.png);
}
.dialogue-node-fact-delete-button:hover {
  background-color: var(--dark-4);
}

.dialogue-editor-section {
  position: absolute;
  border: 2px solid var(--dark-3);
  border-radius: 8px;
  pointer-events: none;
}

.dialogue-editor-section-header {
  position: absolute;
  top: -40px;
  left: -2px;
  display: flex;
  gap: 5px;
  align-items: center;
  z-index: 10;
}

.dialogue-editor-section-header.right {
  left: unset;
  right: -2px;
}
.dialogue-editor-section-header.bottom {
  top: unset;
  bottom: -40px;
}

.dialogue-editor-section-title {
  color: white;
  border-radius: 5px;
  width: max-content;
  padding: 5px;
  pointer-events: all;
  background-color: var(--dark-2);
}

.dialogue-editor-section-title:hover {
  background-color: var(--dark-3);
}

.dialogue-editor-section-delete-button {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-image: url(../assets/icons/iconWidgetRemove.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: all;
  background-color: var(--dark-2);
}
.dialogue-editor-section-delete-button:hover {
  background-color: var(--dark-3);
}

.section-highlighted {
  background-color: #1e54e70f;
  border-color: #1e54e740;
}

#add-file-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 0 5px;
  width: calc(100% - 10px);
  border-radius: 5px;
  pointer-events: all;
}
#add-file-button:hover {
  background-color: var(--dark-4);
}
#add-file-button:hover .add-file-text {
  color: white!important;
}

.add-file-text {
  color: var(--bright-3);
}

#add-file-icon {
  width: 24px;
  height: 24px;
}

.save-icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  filter: opacity(0.5);
}

#toggle-sidebars-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  filter: opacity(0.5);
  cursor: var(--cursor-pointer);
}
#toggle-sidebars-icon:hover {
  filter: opacity(1);
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 100%;
  padding: 4px;
}

.toggle-option {
  display: flex;
  align-items: center;
  background-color: var(--dark-2);
  height: 100%;
  padding: 0 10px;
}
.toggle-option:last-of-type {
  border-radius: 0px 5px 5px 0px;
}
.toggle-option:first-of-type {
  border-radius: 5px 0px 0px 5px;
}
.toggle-option:hover {
  background-color: var(--dark-4);
}
.toggle-option.active {
  background-color: var(--color-shield);
}
.toggle-option.active:hover {
  background-color: var(--color-shield-2);
}

.sidebar-character-row {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--dark-2);
  cursor: var(--cursor-pointer);
}

.sidebar-character-thumbnail {
  width: 32px;
  height: 32px;
}

.sidebar-character-name,
.sidebar-character-variable-name {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
}

.sidebar-character-name:hover,
.sidebar-character-variable-name:hover {
  background-color: var(--dark-3);
}

.insert-node-widget {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  z-index: 5;
  background-color: var(--dark-4);
  pointer-events: none;
}
.insert-node-widget img {
  width: 24px;
  height: 24px;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-3);
  position: absolute;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.411);
  min-width: 450px;
  min-height: 300px;
  max-height: calc(100vh - 40px);
  padding: 12px 20px;
  gap: 12px;
  color: white;
  transition: all 0.15s ease-in-out;
  overflow-y: auto;
  z-index: 102;
}

.properties-panel.disabled {
  filter: contrast(0.75) brightness(0.5) saturate(2.5);
  pointer-events: none!important;
}

.properties-panel.view-bottom {
  width: 100%;
  bottom: 0;
  border-radius: 0;
}

.properties-panel.view-left {
  height: calc(100% - 120px);  
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
}
.properties-panel.view-right {
  height: 100%;
  right: 0;
}

.properties-panel-header {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.node-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0 5px;
  color: white;
}

.properties-panel-criteria-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-height: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--dark-4);
}

.properties-panel-criteria-header {
  font-size: 1rem;
  color: var(--bright-3);
}

.criterion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: var(--dark-4);
}

.criterion-container:hover {
  border-color: var(--dark-5);
}

.criterion-container.active {
  border-color: var(--color-shield);
}

.criterion-requirement {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 32px;
  padding: 2px 4px;
  border-radius: 5px;
}
/* 
.criterion-requirement:hover {
  background-color: var(--dark-3);
} */

.criterion-requirement-delete-button {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background-image: url(../assets/icons/iconWidgetRemove.png);
  order: 2;
}
.criterion-requirement-delete-button:hover {
  background-color: var(--dark-2);
}

.criterion-requirement-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid var(--dark-6);
  background-color: var(--dark-4);
}
.criterion-requirement-toggle:hover {
  border-color: var(--bright-3);
}
.requirement-property {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
}
.requirement-property:hover {
  border-color: var(--bright-3);
}

.requirement-property.unset {
  color: var(--bright-3);
}

.requirement-property.boolean.true {
  color: rgb(92, 176, 255);
}
.requirement-property.boolean.false {
  color: rgb(51, 105, 255);
}

.criterion-requirement-body {
  display: flex;
  gap: 5px;
}

.criterion-buttons {
  display: flex;
  gap: 5px;
  order: 2;
  padding: 4px 10px 0;
}

.properties-panel-add-criterion-button {
  width: 24px;
  height: 24px;
  cursor: var(--cursor-pointer);
  border-radius: 5px;
  background-image: url(../assets/icons/iconWidgetAdd.png);
  order: 2;
}
.properties-panel-add-requirement-button {
  width: 24px;
  height: 24px;
  cursor: var(--cursor-pointer);
  border-radius: 5px;
  background-image: url(../assets/icons/iconWidgetAdd.png);
}
.properties-panel-delete-criterion-button {
  width: 24px;
  height: 24px;
  cursor: var(--cursor-pointer);
  border-radius: 5px;
}

.properties-panel-delete-criterion-button {
  background-image: url(../assets/icons/trashcan.png);
}

.properties-panel-add-requirement-button:hover {
  background-color: var(--dark-3);
}

.properties-panel-add-criterion-button:hover {
  background-color: var(--dark-2);
}

.properties-panel-delete-criterion-button:hover {
  background-color: var(--dark-2);
}

.fact-item {
  display: flex;
  gap: 5px;
  color: white;
  padding: 2px;
}

.fact-item.searched {
  cursor: var(--cursor-pointer);
}
.fact-item.searched:hover {
  background-color: var(--dark-4);
}

.fact-list, .fact-search-list {
  display: flex;
  flex-direction: column;
  min-height: 10px;
  background-color: var(--dark-3);
}

.condition-count {
  margin-top: -5px;
  color: var(--bright-3);
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--dark-4);
}
.condition-count.active {
  color: white;
  border-color: var(--color-shield);
}

.fact-value {
  width: 45px;
}

.fact-owner {
  width: 20%;
}

.fact-identifier {
  width: 100%;
}

.fact-owner, .fact-identifier {
  border-right: 2px solid var(--dark-2);
}
.fact-value {
  cursor: var(--cursor-pointer);
}
.fact-identifier:hover, .fact-value:hover, .fact-owner:hover {
  background-color: var(--dark-4);
}

.fact-value.false {
  color: rgb(51, 105, 255);
}

.fact-value.true {
  color: rgb(92, 176, 255);
}

.fact-search-bar {
  background-color: var(--dark-3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.fact-search-bar input {
  background-color: var(--dark-2);
  height: 24px;
  color: white;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.fact-search-icon {
  background-image: url(../assets/icons/icon-search.png);
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 7px;
  user-select: none;
  pointer-events: none;
}

.fact-icon-remove {
  background-image: url(../assets/icons/icon_widget_remove.png);
  background-position: center;
  background-size: contain;
  height: 18px;
  width: 18px;
  cursor: var(--cursor-pointer);
}

.fact-icon-remove:hover {
  background-color: var(--dark-4);
}

.fact-input {
  height: 100%;
}

.fact-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-3);
  flex-grow: 1;
  width: 100%;
  color: white;
  caret-color: white;
  padding: 5px;
}

#fact-switcher {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 600px;
  height: 500px;
  padding: 10px;
  background-color: var(--dark-2);
}

#fact-switcher .header {
  display: flex;
  padding: 5px 0;
}

#fact-switcher .fact-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fact-list-label {
  background-color: var(--dark-2);
  padding: 10px 0;
  flex-grow: 1;
  color: white;
}

.fact-switcher-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue-editor .fact-list-label {
  background-color: transparent;
}

.editor-mode-icon {
  width: 24px;
  height: 24px;
}
.editor-mode-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#review-button {
  display: flex;
  align-items: center;
  gap: 5px;
  height: calc(100% - 8px);
  padding: 0 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--dark-2);
}
#review-button.inactive {
  color: var(--dark-7);
}
#review-button.inactive .icon {
  filter: opacity(0.5);
}

#close-folder-button {
  height: 20px;
}
#close-folder-button:hover:not(.disabled) {
  background-color: var(--dark-2);
}
#close-folder-button.disabled {
  display: none;
}
#close-folder-button img {
  width: 100%;
  height: 100%;
}